<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072950184581-01i3hq3bda21vadf78v3d6h8vci41raf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072950184581-01i3hq3bda21vadf78v3d6h8vci41raf</string>
	<key>API_KEY</key>
	<string>AIzaSyDvMCz1YmkWLLWgsQlXlquPibLNOGnpZ70</string>
	<key>GCM_SENDER_ID</key>
	<string>1072950184581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensetracker</string>
	<key>PROJECT_ID</key>
	<string>flutter-expense-a1920</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-expense-a1920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072950184581:ios:821d272890caa9154ab7ec</string>
</dict>
</plist>